<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pky.canteen">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CanteenAndroid"
        android:usesCleartextTraffic="true">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.login.LoginActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name=".ui.register.RegisterActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity android:name=".ui.home.HomeActivity" />
        <activity android:name=".ui.dish.DishActivity" />
        <activity android:name=".ui.opinionsend.OpinionSendActivity" />
        <activity android:name=".ui.stall.StallActivity" />
        <activity android:name=".ui.userinfo.UserInfoActivity" />
        <activity android:name=".ui.collect.CollectActivity" />
        <activity android:name=".ui.opinion.OpinionActivity" />
        <activity android:name=".ui.opiniondetails.OpinionDetailsActivity" />
        <activity android:name=".ui.videoplayy.VideoPlayActivity" />
        <activity android:name=".ui.complaint.ComplaintActivity" />
        <activity android:name=".ui.complaintlist.ComplaintListActivity" />
        <activity android:name=".ui.serach.SearchActivity" />
    </application>

</manifest>